@model List<MyPortfolio.DAL.Entities.Blog>

<section id="blog" class="s-blog target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Bloglarım</h3>
            <h1>Son Yazılarım ve Güncellemeler</h1>
            <p class="lead">
                Bu bölümde, yazılım, teknoloji ve kişisel projelerim hakkında yazdığım en son blog yazılarını bulabilirsiniz.
            </p>
        </div>
    </div>

    <div class="row blog-content">
        <div class="col-full">

            <div class="blog-list block-1-2 block-tab-full">
                @foreach (var item in Model)
                {
                    <article class="col-block">
                        <div class="blog-date">
                            <a href="@item.BlogUrl">@item.Date</a>
                        </div>

                        <h2 class="h01"><a href="@item.BlogUrl">@item.Title</a></h2>
                        <p>
                            @item.Detail
                        </p>

                        <div class="blog-cat">
                            <a href="@item.BlogUrl">@item.Category</a>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</section> 